TELEGRAM_API_TOKEN=
TELEGRAM_BOT_NAME=
TELEGRAM_CHAT_ID=
TELEGRAM_ASSIGNED_CHATS=
TELEGRAM_MESSAGE_LIMIT=4096

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_EXPIRATION_TIME=60

OPENAI_API_URL=
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o-mini
OPENAI_ASSISTANT_NAME=
OPENAI_ASSISTANT_ROLE=

LOKI_URL=
LOKI_USERNAME=
LOKI_AUTH_TOKEN=
