TELEGRAM_API_TOKEN=
TELEGRAM_BOT_NAME=
TELEGRAM_USER_CHATS=
TELEGRAM_GROUP_CHATS=
TELEGRAM_MESSAGE_LIMIT=4096
TELEGRAM_SHOW_MORE=true

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_EXPIRATION_TIME=24h

OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o-mini
OPENAI_ASSISTANT_NAME=
OPENAI_ASSISTANT_ROLE=

LOKI_URL=
LOKI_USERNAME=
LOKI_AUTH_TOKEN=
